extends layout

block head
  title Azure Authorization UI

block content

  if !authorized
    h1 Not logged in
    p In order to use this app, you must first log in to Github
    a.btn.btn-primary.btn-lg.active(href='/auth/login') Log into Github
  else
    if error
      h1 Error contacting github: #{error}
    else if !repoAccess
      p.
        Unfortunately, the github user #{username} does not have access to the
        required repository. Please log in under a user that does have access to
        the repository, or ask somebody else who does. Thanks!
    else
      if !hasFork
        h1 Setup Required
        p You need a fork of the Azure/azure-github-organization repository in your account.
        form(action='/users/createfork', method='post')
          button.btn.btn-primary.btn-lg(type='submit') Create Fork

      else
        h1 What do you want to do?
        p
          a.btn.btn-primary.btn-lg.active(href='/adduser') Give a user access
        //- p
        //-  a.btn.btn-primary.btn-lg.active(href='/users/checkpermission') List a user's current permissions

        if activePrs && activePrs.length > 0
          .panel.panel-default
            .panel-heading Your Open Pull Requests
            .panel-body
              table.table
                thead
                  th Number
                  th Title
                  th Created On
                - each pr in activePrs
                  tr
                    td
                      a(href=pr.url)= pr.number
                    td
                      a(href=pr.url)= pr.title
                    td= pr.createdOn
